<!DOCTYPE html>

<!-- <body ng-controller="MainCtrl as main">
  <ul>
    <li ng-repeat="user in main.users">
      <strong>{{ user.username }}</strong>

      <p>Liked Media:</p>
      <div ng-repeat="medium in user.liked_media">
        <p><em>{{ medium.name }}</em></p>
      </div>

      <p>Disliked Media:</p>
      <div ng-repeat="medium in user.disliked_media">
        <p><em>{{ medium.name }}</em></p>
      </div>

      <p>Saved Media:</p>
      <div ng-repeat="medium in user.saved_media">
        <p><em>{{ medium.name }}</em></p>
      </div>

      <div ng-repeat="user in medium.saves.users">
        <p><em>{{ user.username }}</em></p>
      </div>
    </li> -->

    <!-- <div ng-repeat="users in medium.likes">
    <p><em>{{ user.name }}</em></p>
  </div>
-->
<!-- </ul>
</body> -->
<div class="grid" ng-controller="MediaIndexCtrl as mediaIndex">
  <h1>Search Movies</h1>

    <form ng-submit="mediaIndex.searchMedia()" class="search">

      <div class="form__field">
        <input type="text" name="search" placeholder="What are you looking for?" class="form__input" ng-model="mediaIndex.medium">
        <input type="submit" value="Search" class="button">
        <!-- <input type="submit" value="Search" class="button"> -->
      </div>
          </form>
      <div ng-repeat="medium in mediaIndex.media">
        <a ng-click="mediaIndex.viewMedium(medium)">
            <img ng-src="https://image.tmdb.org/t/p/w45/{{ medium.poster_path }}">
          {{ medium.title }}
        </a>
      </div>

      <h2>Top Rated Movies</h2>

    <div ng-repeat="medium in mediaIndex.all">
      <img ng-src="{{ medium.poster_path_src }}">
      <a ui-sref="mediaShow({ id: medium.id })">{{ medium.name }}</a>
      Likes: {{ medium.likes.length }}
      Dislikes: {{ medium.dislikes.length }}
    </div>

  </div>



  <!-- <div ng-controller="MediaIndexCtrl as mediaIndex"> -->
    <!-- <form ng-submit="mediaIndex.searchMedia()">
      <input type="text" ng-model="mediaIndex.medium">
      <button>Submit</button>
    </form> -->
