<!DOCTYPE html>

<div class="wrapper">
  <form name="login.loginForm" ng-submit="login.submit()" novalidate class="form-signin">
    <h2 class="form-signin-heading">Login</h2>

    <input type="text" class="form-control" name="email" placeholder="Email Address" ng-model="login.credentials.email" required autofocus="" />
  <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted) && login.loginForm.email.$invalid" class="error">
    <div ng-message="required">Please enter a value for this field.</div>
    <div ng-message="email">This field must be a valid email address.</div>
  </div>

    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="login.credentials.password" required />
    <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted) && login.loginForm.email.$invalid" class="error">
      <div ng-message="required">Please enter a value for this field.</div>
      <div ng-message="email">This field must be a valid email address.</div>
    </div>
<br>
    <input type="submit" value="Login" class="button">
  </div>

  </form>
</div>

<!--
<div class="login">

    <form name="login.loginForm" ng-submit="login.submit()" novalidate class="main-content">
        <h2>Login</h2>
      <div class="l-part">

        <input type="email" name="email" id="email" ng-model="login.credentials.email" required placeholder="Email" class="input-1" >
        <div ng-messages="login.loginForm.email.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.email.$touched) && login.loginForm.email.$invalid" class="error">
          <div ng-message="required">Please enter a value for this field.</div>
          <div ng-message="email">This field must be a valid email address.</div>
        </div>
      </div>
        <div class="l-part">

          <input type="password" name="password" id="password" ng-model="login.credentials.password" required placeholder="Password" class="input-2">
          <div ng-messages="login.loginForm.password.$error" role="alert" ng-show="(login.loginForm.$submitted || login.loginForm.password.$touched) && login.loginForm.password.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>
        <button class="btn">Login</button>
      </form>
    </div> -->

<!-- <form ng-submit="login.submit()" class="six columns">
  <label for="email">Email</label>
  <input class="u-full-width" type="text" name="email" id="email" ng-model="login.credentials.email">

  <label for="password">Password</label>
  <input class="u-full-width" type="password" name="password" id="password" ng-model="login.credentials.password">

  <input type="submit" class="button-primary u-full-width" value="Login">
</form> -->
<!-- <div class="twelve columns">
  <button ng-click="login.authenticate('github')">Login with GitHub</button>
  <button ng-click="login.authenticate('facebook')">Login with Facebook</button>
</div> -->
